
:root{
    --size: 10vmin;
    --white-sq: #fcebd6;
    --brown-sq: #740;
    --bg-clr: azure;
    --base: #526;
}

html, body{
    display: grid;
    place-content: center;
    background-color: var(--bg-clr);
    height: 100%;
    /* width: 100%; */
    min-width: 95vw;
    overflow: hidden;
}

.main{
    background-color: var(--base);
    border-radius: 0 0 1rem 1rem;
}

.utilities {
    display: grid;
    grid-auto-flow: column;
    padding: .5rem;
}

.utilities > button {
    background-color: var(--brown-sq);
    color: var(--white-sq);
    font-size: 1em;
    border: none;
    border-radius: 2rem;
    height: 2rem;
    width: calc(3*var(--size));
    transition: .3s;
}

.utilities > button:hover {
    cursor: pointer;
    background-color: black;
    transform: scale(1.1);
}
.utilities > button:active {
    transform: scale(1.05);
}

.board, img {
    user-select: none;
}

tr{
    display: flex;
    background-color: var(--bg-clr);
}
tbody > tr:nth-child(2n+1){
    flex-direction: row-reverse;
}

td,th{
    width: var(--size);
    font-size: 1.5rem;
}

.square{
    height: var(--size);
    background-color: var(--white-sq);
}

.square:nth-child(2n+1){
    background-color: var(--brown-sq);
}


.piece{
    position: absolute;
    height: calc(var(--size)*.80);
    cursor: grab;
    margin: calc(var(--size)/2);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.piece:active{
    cursor: grabbing;
}

.lifted{
    z-index: 5;
}


.piece.a8{
    top: calc(var(--size) + 1rem);
}

.interruption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #88a6;
    display: none;  /*flex when .visible-flex*/
    align-items: center;
    justify-content: center;
    column-gap: calc(.2*var(--size));
    z-index: 10;
}

.interruption button {
    height: calc(3*var(--size));
    width: calc(2*var(--size));
    background-color: var(--bg-clr);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.interruption button:hover {
    transform: scale(1.1);
}

.winner-msg {
    height: 50vh;
    width:  50vw;
    font-size: 5vmin;
    background-color: var(--bg-clr);
    border-radius: 5vmin;
    display: grid;
    align-items: center;
    text-align: center;
    cursor: default;
}



/* COLORED SQUARES */

.availiable {
    width: 100%;
    height: 100%;
    background-color: #ff0;
    opacity: .5;
}
.threatened {
    width: 100%;
    height: 100%;
    background-color: #f00;
    opacity: .5;
}

/* GENERAL */
.visible-flex {
    display: flex;
}


