<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block status %}{% endblock %} Error</title>
    <style>
        body {
            background-color: black;
            color: red;
            width: 99vw;
            height: 90vh;
            font-size: 2vw;
            font-family: monospace;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        div {
            display: grid;
            justify-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>
            {{ self.status() }}..
            {% block message %}{% endblock %}
        </h1>
        {{error_msg}}
    </div>
</body>
</html>