<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Χρόνια Πολλά!</title>

    <link rel="stylesheet" href="{{static}}/style.css" >
    <link rel="shortcut icon" href="{{static}}/boat-cake.jpg" >
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="message">
                Φιλάρα Καλή Χρονιά και Χρόνια Πολλά για τις γιορτές σου!<br><br>
                Αυτές τις χρονιές ήμασταν μακρά αλλά ελπίζω τις επόμενες να αλλάξουν τα πράγματα και να είναι καλύτερα..<br>
                Δε γράφω πολλά γιατί δεν είμαι τόσο καλός στα λόγια, αντί για αυτό αποφάσισα να σου σχεδιάσω αυτή την κάρτα που πιστεύω ότι τελικά καταφέρνει το ίδιο με τα λόγια, να περάσει συναισθήματα...<br>
                <br>
                Έχουμε πολλά ταξίδια να κάνουμε..!
            </div>
            <img class="sailing_boat" src="{{static}}/sailboat-icon-svg-1.svg" width="200" />
        </div>
        <div class="folder" onclick="this.previousElementSibling.classList.toggle('animate')">
            <div class="display">
                Πάτα με !!!
            </div>
            <!-- Same content but invisible -->
            <div class="message">
                Φιλάρα Καλή Χρονιά και Χρόνια Πολλά για τις γιορτές σου!<br>
                Αυτές τις χρονιές ήμασταν μακρά αλλά ελπίζω τις επόμενες να αλλάξουν τα πράγματα και να είναι καλύτερα..<br>
                Δε γράφω πολλά γιατί δεν είμαι τόσο καλός στα λόγια, αντί για αυτό αποφάσισα να σου σχεδιάσω αυτή την κάρτα που ελπίζω ότι τελικά καταφέρνει το ίδιο με τα λόγια, να περάσει συναισθήματα...<br>
                <br>
                Έχουμε πολλά ταξίδια να κάνουμε..!
            </div>
            <img class="sailing_boat" src="{{static}}/sailboat-icon-svg-1.svg" width="200" style="opacity: 0;" />
        </div>
    </div>
</body>
</html>