
body {
    display: grid;
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

div.project {
    display: grid;
}

a {
    color: unset;
    text-decoration: unset;
    font-size: large;
    transition: all .3s;
}
a:hover {
    padding-left: 1rem;
}

iframe {
    width: 62vw; /*Golden Ratio*/
    height: 62vh;
}

